###############################################################################
#                           GHOSTTY CONFIGURATION                             #
# --------------------------------------------------------------------------- #
# Author       : Martin Bullman                                               #
# Purpose      : Custom configuration file for Ghostty terminal emulator      #
# Last Updated : 2025-07-12                                                   #
###############################################################################

# The template does not set any default options, since Ghostty ships
# with sensible defaults for all options. Users should only need to set
# options that they want to change from the default.
#
# Run `ghostty +show-config --default --docs` to view a list of
# all available config options and their default values.
#
# Additionally, each config option is also explained in detail
# on Ghostty's website, at https://ghostty.org/docs/config.

# theme
theme = Catppuccin Mocha

# font meslo
font-size = 15
font-family = MesloLGS NF Regular
font-family-bold = MesloLGS NF Bold
font-family-italic = MesloLGS NF Italic
font-family-bold-italic = MesloLGS NF Bold Italic

# font jetbrains mono
#font-size = 15
#font-family = JetBrainsMono NF Regular
#font-family-bold = JetBrainsMono NF Bold
#font-family-italic = JetBrainsMono NF Italic
#font-family-bold-italic = JetBrainsMono NF Bold Italic

# window
background-opacity = 1
#window-padding-x = 10
#window-padding-y = 10
